 /*
p {
    text-align: center;
    color: rgb(255, 106, 0);
  }

  #para1 {
    text-align: right;
    color: red;
  }

  .center {
    text-align: center;
    font-size: 60px;
  }



  p.center {
    text-align: center;
    color: red;
    text-decoration: underline;
  }


  * {
    text-align: center;
    color: blue;
  }

   
  h1, h2, p {
    text-align: center;
    color: red;
  }
  */