.center {
    text-align: center;
    color: rgb(0, 0, 255); 
  }

.large{
    font-size: 80px;
}

/*

  p.center {
    text-align: center;
    color: rgb(30, 0, 255);
    text-decoration: underline;
  }

*/

  h1, p {
    text-align: center;
    color: red;
  }

 /*

 #para1 {
    text-align: right;
    color: red;
  }
 
  p {
    text-align: center;
    color: rgb(255, 106, 0);
  }

   * {
    text-align: center;
    color: blue;
  }


 








   

  */